$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;

$color-amande: #B9D2CB;
$color-dark-amande: #5b706a;
$color-amande-intermediaire: #b9d2cb7f;
$color-pink: #FFD0D0;
$color-lt-pink: #ffeaf4b4;

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=League+Gothic&display=swap'); 

$font-perso-bold : 'League Gothic', sans-serif;
$font-perso-main :'Assistant', sans-serif;