$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;

$color-main: #23446D;
$color-main-transparent: #23446db2;
$color-pink: #FF85CE;
$color-lt-pink: #ffeaf4b4;


@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Raleway&family=Zilla+Slab:wght@300&display=swap');


$font-perso-bold : 'League Gothic', sans-serif;
$font-perso-main : 'Raleway', sans-serif;
$font-perso-signature :'Zilla Slab', serif;